// Fonts

/* If you don't wanna add the external font get rid of the @font-face and change the value of $font-fam-main to:
system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 
"Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
*/

@font-face {
  font-family: space-grotesk;
  src: url("./fonts/SpaceGrotesk-Regular.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: space-grotesk;
  src: url("./fonts/SpaceGrotesk-Bold.woff");
  font-weight: 800;
  font-display: swap;
}

$font-fam-main: space-grotesk, sans-serif;
$font-fam-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace;
$line-ht-main: 1.5;
$line-ht-mono: 1;
